---
---
/* start content */
@import "mixins";
@import "navigation";
@import "sass-components";
@import "include-css.css";
@import "layout";
@import "sidebar";

/* Compass mixins */
    

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/BebasNeue Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/BebasNeue Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/BebasNeue Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/BebasNeue Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'PT Sans';
  src: url('fonts/PTS55F-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/PTS55F-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/PTS55F-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/PTS55F-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/* -----------------------------------------
	General
----------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
    
h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  margin: 0 0 15px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: #6c6c6c; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

p {
  margin: 0 0 15px 0; }

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

a, a:visited {
  transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
  outline: none; }

a:active, a:focus {
  outline: none;
  text-decoration: none; }
a {
color: #428bca;
text-decoration: none;
}
a:hover, a:focus {
color: #2a6496;
}
body {
  font-family: Lato, sans-serif;
  line-height: 1.625;
  font-size: 15px;
  color: #1E1E1E; }

ul {
    list-style-type: none;
}
    
/* Header */
.frontpage header {
    position: relative;
    z-index: 10;
    height: 100px;    
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #FFF;    
}
header {
   background: #848484;
    .logo {
      background: #848484;
    }
    li {
         @include inline-list;
        }
}
.lang-switcher {
  text-align: right;
   a {
      color: #E7E7E7;
   }
}
/*  */
/* Footer */
/*  */
.footer {
    .footer-item {
         @include gallery ( 4 of 12);
    }
    .social ul {
        @include inline-list;
       
    }
   .booking {
      background: #003580;
   }
}




header hr {
    background: none;
    border: none;
    margin: 10px 0 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #eeeeee;
}
/* Slideshow */
.slider {
    color: #FFF;
    top: -40px;
}
.flexslider {
    margin: 0;
    padding: 0;
    border: medium none;
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
    background: none;
    li {
        width: 100%;
        float: left;
        margin-right: -100%;
        position: relative;
        opacity: 1;
        display: block;
        z-index: 2;
    }
   .slide-book-button-wrapper {
      position: absolute;
      top: 10%;
      width: 100%;
       .slide-book-button {
           @include container;
           text-align: right;
         }
   }
   .slide-info {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 35%;
        background: rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
        -o-box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
    }
    .slide-title {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #ffffff;
    }
    a.book-button ,
    a.contact-button  {
         background: #848484;
         padding: 0.5em 3em;
         color: #ffffff;
    }
   h3 {
      margin-top: 1em;
      color: #ffffff;
      font-family: "Open Sans";
      font-weight: 400;
   }
    .flex-control-nav {
        width: 20px;
        bottom: auto;
        z-index: 20;
        top: 40%;
        right: 20px;
        li {
            display: block;
            margin: 0 0 5px 0;
            height: auto;
            a {
                background: transparent;
                border: 2px solid #FFF;
                border-radius: 100%;
                box-shadow: none;
            }
            a.flex-active,
            a:hover {
                background: #FFF;
                border-color: #FFF;
            }
        }
    }
    .flex-control-paging li a {
        background: transparent;
        border: 2px solid #FFF;
        border-radius: 100%;
        box-shadow: none;
    }
}



/* Main */
.main {
    .content img,
    .sidebar img,
    iframe,
    .offer img {
       padding: 10px;
       border: 1px solid #C2C2C2;
       transition: 0.18s;
       margin: 0px 0 20px 0;
    }
}

/* BLOG */
.page-title {
text-align: center;
font-size: 4em;
line-height: 1;
margin-bottom: 1em;
padding-bottom: 1em;
padding-top: 1.5em;
}
.entry-title {
margin-bottom: 20px;
}
/* -----------------------------------------
	Booking Form
----------------------------------------- */
.booking input[type=text],
.booking input[type=email],
.booking textarea, .booking .dk_container {
  width: 100%;
  margin-bottom: 25px; }


.booking-wrap {
  z-index: 15;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  height: 150px;
  margin: -205px 0 0 0;
  padding-top: 52px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
    input[type="text"], 
    input[type="password"], 
    input[type="date"], 
    input[type="datetime"], 
    input[type="email"], 
    input[type="number"], 
    input[type="search"], 
    input[type="tel"], 
    input[type="time"], 
    input[type="url"],
    textarea {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    border-radius: 0;
    box-shadow: none;
    width: auto;
    padding: 12px 18px;
    height: auto;
    border: 2px solid #C2C2C2;
    line-height: normal;
    transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
    min-width: 80%;
    color: #6d6e71;
    background: transparent;
    }
}
/* Date */
    .ui-datepicker-trigger {
    position: absolute;
    right: 28px;
    border: none;
    top: 7px;
    background: none;
    color: #C2C2C2;
    font-size: 18px;
    outline: none;
    }


#formerrors {
  list-style: none;
  padding: 10px;
  margin: 0 0 40px;
  border: 1px solid #C2C2C2; }
  #formerrors li {
    font-size: 14px;
    margin: 5px 0;
    color: #6c6c6c; }
  #formerrors li i {
    margin-right: 5px;
    color: #c2303c; }

#formsuccess {
  font-size: 16px;
  font-weight: bold;
  color: #6c6c6c;
  padding: 10px;
  line-height: normal;
  border: 1px solid #6c6c6c; }
    
  #formsuccess i {
    margin-right: 10px; 
  }

/*  */
/* Frontpage INFO */
/*  */
.info-list {
    margin-bottom: 2em;
   h1 {
     padding: 1em;
   } 
   a {
     color: #363636;
   }
   &.one {
        background: #DCCDE8;  
   }
   &.two {
      background: #EDECD2; 
   }
   &.three {
      background: #e8e0cc; 
   }
   &.four {
      background: #cce8db;
   }
   &.five {
      background: #e7cce8;
   }
   .info-right {
      
   }
}
/*  */
/* Reviews Blockquote */
/*  */
.reviews {
    blockquote {
      text-align: center;
      margin: 0;
      padding: 0 0 30px 0;
      line-height: normal;
      position: relative;
         &:after {
          content: "";
          width: 45px;
          position: absolute;
          height: 1px;
          background: #E5E5E5;
          bottom: 0;
          left: 50%;
          margin-left: -22px; }
         i.fa {
          font-size: 44px;
          color: #E5E5E5;
          margin-bottom: 15px; }
         p {
          letter-spacing: -0.03em;
          font-family: Montserrat, sans-serif;
          font-size: 24px;
          font-weight: bold;
          color: #6c6c6c; }
         cite {
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 0.2em;
          color: #8a8a8a;
          font-style: normal;
         }
    }
}
/* Reviews Page */

.review-inside {
  background: #fff;
  border: 1px solid #ccc;
  padding: 1.5em;
   h4 {
      font-size: 2em;
      padding-bottom: 0.5em;
      text-transform: uppercase;
   }   
   .review-details {
      font-weight: bold;
      margin-bottom: 10px;
   }
}
/*  */
/* Frontpage Gallery */
/*  */
/* -----------------------------------------
	Item Styles
----------------------------------------- */
.item {
  position: relative;
  text-align: center;
  color: #FFF;
  transition: 0.18s;
  margin: 0 0 40px 0; 
   .item-thumb {
    padding: 10px;
    border: 1px solid #C2C2C2;
    position: relative;
   }
     .item-thumb > a {
      position: relative;
      display: block;
     transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
     }
    .item-thumb > a:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      transition: background-color 0.18s ease; }
   .offer {
    position: absolute;
    top: 10px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 11px;
    padding: 7px 25px;
    line-height: normal;
    width: 130px;
    left: 50%;
    margin-left: -65px; }
   a.btn,
   a.btn:visited {
    display: inline-block;
    border-color: #FFF;
    color: #FFF;
    max-width: 60%;
   }
   a.btn:hover {
    text-decoration: none; }
  &:hover {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.18); 
   .item-thumb > a:after {
      background: rgba(0, 0, 0, 0.6); }
    .overlay i {
      opacity: 1; }
  }
  .item-content {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    top: 50%;
    margin-top: -25px;
      a {
          margin-bottom: 0.6em;
      }
  }
   .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #FFF !important; 
        i {
        position: absolute;
        top: 50%;
        margin-top: -18px;
        font-size: 34px;
        width: 100%;
        text-align: center;
        left: 0;
        z-index: 15;
        opacity: 0.8; }
       }
}
/* Buttons */
/*  */
a.btn, a.btn:visited, input[type=submit] {
    line-height: normal;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #C2C2C2;
    border-radius: 0;
    vertical-align: middle;
    padding: 0.8em 1em;
    background: transparent;
    outline: none;
    transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
}
/*  */
/* Room html */
/*  */
.flexslider-rooms {
    @include full;
    margin-bottom: 2em;
    .slides {
        padding: 10px;
        border: 1px solid #C2C2C2;
    }
    .flex-control-thumbs li {
        @include gallery ( 1 of 10 );
    }
    .flex-control-thumbs img {
    padding: 3px;
    border: 1px solid #C2C2C2;
    transition: 0.18s;
    margin: 0px 0 20px 0;
    }
}
/*  */
/* ROOMS and OFFERS PAGE */ 
/*  */
.offers-menu {
    @include full;
     li {
        @include gallery ( 2 of 10 );
    }
}
.rooms {
   @include full;
}
.room {
   @include gallery (6 of 12);
   margin-bottom: 2em;
}
.offers-prices {
    ul {
        @include full;
        padding: 0;
        text-align: center;
        li  {
            @include gallery (4 of 12);
            border: 1px solid #C2C2C2;
            margin: 0px 0 20px 0;
            background: #fcfcfc;
                h4 {
                    font-size: 2em;
                    padding: 15px 0 0 0;
                }
                h2 {
                    font-size: 3em;
                    color: #D33E93 ;
                }
                span {
                    padding-right: 0.3em;
                    font-size: 18px;
                    color: #6c6c6c;
                    padding-right: 0.3em;
                }
            }
    }
}
.normal-prices {
    ul{
        @include full;        
        padding: 0;
        text-align: center;
        li {            
            @include gallery (4 of 12);            
            background: #fcfcfc;
            border: 1px solid #C2C2C2; 
            color:#fff;
            padding: 1em 0 0 0;
        &.price  {   
               h4 {
                   padding: 0;
                   margin-bottom: 1em;
               }
               h3 {
                    margin: 0;
                    padding: 0;
               }
               h2 {
                    color: #4280A6;                           
               } 
           }
        
        }
    }
}

.reservation-bottom .booking-wrap {
    background: url('http://www.cssigniter.com/preview/santorini/files/2014/03/booking_bg.jpg') no-repeat center center;
    margin: 50px 0;
padding: 55px 0 50px;
    height:auto;
    
}


/*  */
/* General Form Styling
=================================== */
label {
  display: block;
  font-size: 90%;
  margin-bottom: 2px; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: normal;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  padding: 12px 18px;
  height: auto;
  border: 2px solid #C2C2C2;
  line-height: normal;
  transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
  min-width: 80%;
  color: #6d6e71;
  background: transparent; }

textarea {
  width: 100%;
  height: auto; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: transparent;
  outline: none; }

fieldset {
  padding: 15px 15px 0 15px; }

fieldset legend {
  font-weight: bold;
  padding: 0 3px;
  margin: 0;
  margin-left: -3px; }

input.highlight {
  border-color: #ff4a4a; }