<footer class="footer-wrapper footer">
<!-- 3 column footer -->
    <div class="footer-inside">       
<!-- Hotel Contact info -->
           <div class="contact footer-item">
              <h3>{{ site.data.strings.[page.lang].contact }}</h3>
               <ul>       
                   <li>{{ site.data.contact.contact.address.[page.lang] }}</li>
                  {% for tel in site.data.contact.contact.tel %}
                   <li>Tel: {{ tel.number }}</li>
                  {% endfor %}
                   <li>{{ site.data.contact.contact.email }}</li>
                   </ul>
               </div>
       
<!-- Social Networks -->
           <div class="social footer-item">
               <!-- Block title -->
              <h3>{{ site.data.strings.[page.lang].footer.social }}</h3>
               <!-- Block content -->
               <ul>
               {% for social in site.data.contact.social %}
                  <li><a href="{{ social.url }}">
                               <i class="fa fa-{{ social.name }}"></i>
                           </a>
                      </li>
                {% endfor %}
                   </ul>
              <h3 class="blog-link-footer"><a href="{{ site.baseurl }}{{page.lang}}/blog">Blog</a></h3>
               </div>
<!-- Reviews -->
           <div class="reviews  footer-item">
               <h3>{{ site.data.strings.[page.lang].reviews }}</h3>
               {% for review in site.data.contact.reviews %}
                  <div class="brand-logo" >
                  <img src="{{ site.baseurl }}/assets/{{ review.image }}" alt="{{ review.name }}">
                  </div>
                {% endfor %}
               </div>
        </div>
   </footer>

<!-- Footnote -->
   <div class="footnote-wrapper">
         <div class="footnote">
            <h6>
            <!--            Copyright -->
            Hotel Astromeria &copy; 2011-<script type="text/javascript">document.write(new Date().getFullYear())</script> 
            <!--            MHTE -->
            {% for mite in site.data.contact.mite %}
            <span>- MHTE{% cycle '1' , '2' %}: {{ mite.number }}</span>
            {% endfor %}
               </h6>
         </div>
      </div>

         <!-- Js all-->
         <script type="text/javascript" src="{{ site.baseurl }}/js/js-all.js "></script> 
         