<header>
   
{% include language-switcher.html %}
   
  <div class="menu-inside">
      <hr>
        <div class="navigation menu-left">
            <ul>              
                 {% for menu in site.data.menu.[page.lang]  limit:3 %}               
                    <li>      
                        {% if menu.url == "/rooms" %}
                          <a  href="{{ site.baseurl }}/{{ page.lang}}{{ menu.url }}" >{{ menu.name }}</a>
                           <ul class="dropdown-menu">
                                 {% assign rooms = site.rooms | where:'lang', page.lang %}
                                 {% for room in rooms %}             
                                   <li><a  href="{{ site.baseurl }}{{ room.url }}" >{{ room.title }}</a></li>
                                 {% endfor %}                                                       
                           </ul>
                        {% else %}
                                 <a  href="{{ site.baseurl }}/{{ page.lang}}{{ menu.url }}" >{{ menu.name }}</a>   
                        {% endif %}
                       </li>
                  {% endfor %}
               </ul>
            </div>
            <div class="logo">
            <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/assets/logo_white.png" alt=""></a>
                </div>
            <div class="navigation menu-right">
            <ul>
              {% for menu in  site.data.menu.[page.lang]  limit:3 offset: 3 %} 
                <li><a  href="{{ site.baseurl }}/{{ page.lang}}{{ menu.url }}" >{{ menu.name }}</a></li>
               {% endfor %}
            </ul>
            </div>
        </div>
    </header>  