   <div class="lang-switcher">
	{% assign languagepart = page.url | split: '/' %}
	{% assign languagesize = languagepart | size %}
	
    {% for language in languagepart limit:1 offset:1 %}
      {% assign language = language %}
    {% endfor %}

    {% if language == nill %}
	      {% for lang in site.data.languages %}
	             <a href="/{{ site.baseurl }}/{{ lang.url }}">{{ lang.language }}</a>
	      {% endfor %}
	{% else %}		
	      {% for lang in site.data.languages %}
	             <a href="/{{ site.baseurl }}{{ page.url | replace_first: language, lang.url }}">{{ lang.language }}</a>
	      {% endfor %}
   {% endif %}

  </div>