 <section class="sidebar">
    
             <div class="contact-booking">
            <h3>{{ site.data.strings.[page.lang].contact }}</h3>
            <ul>       
               <li>{{ site.data.contact.contact.address.[page.lang] }}</li>
               {% for tel in site.data.contact.contact.tel %}
               <li>Tel: {{ tel.number }}</li>
               {% endfor %}
               <li>{{ site.data.contact.contact.email }}</li>
            </ul>
         </div>
    
         {% include blocks/rooms-menu.html %}
<!--         <div class="offer">
                    <h3>our special offer</h3>
                    <div class="offer-inside">                
                        {% for offer in site.data.offer %}
                        <a href="">
                            <img src="{{ offer.image  | prepend: '/assets/'  | prepend: site.baseurl | prepend: site.url }}" alt="">
                        </a>
                        <div class="offer-content">
                            <h4>{{ offer.message }}</h4>
                            <a class="btn" href="booking.html">book now.</a>
                        </div>
                        {% endfor %}
                    </div>
                </div> -->
     
<!--             <div class="social-block">
                 <h3>social</h3>
              {% for social in site.data.social %}
                    <a href="{{ social.url }}">
                        <i class="fa fa-{{ social.title }}"></i>
                    </a>
                {% endfor %}
            </div>      -->
     
<!--             <div class="newsletter-block">
                <h3>newsletter</h3>
                <p> Get explosive offers straight to your inbox and win a free weekend stay!</p>
            <form class="ci-newsletter" action="/">
                <input type="email" name="ci_newsletter_email" id="ci_newsletter_email" placeholder="your email">
                <button type="submit"><i class="fa fa-chevron-right"></i></button>
            </form>
            </div> -->
    
    
        {% include blocks/reviews-quote.html %}
     
      </section>