 <section id="slider" class="flexslider">
          <ul class="slides">
              {% for image in site.data.slideshow %} 
            <li>
                <img src="{{ image.src | prepend: 'assets/'  | prepend: site.baseurl | prepend: site.url }}" alt="">
                
                <div class="slide-info">
                    <h2 class="slide-title">{{ image.title }}</h2>
                    <p>{{ image.subtitle }}</p>
                </div>
              </li>
              {% endfor %}
  	    	</ul>
      </section>


