@import "susy-config";
@import "bower_components/susy/sass/susy";

/*  */
/* Full Page Width */
/*  */
header,
.page,
footer,
.slider,
.map,
.footnote-wrapper {
    @include full;
}
/*  */
/* Container Width */
/*  */
/* Header */
.lang-switcher,
.menu-inside,
/* Frontpage */
.gallery,
/* all pages */
.main,
.content, 
/* Custom pages */
.reviews,
/* Footer */
.footer-inside,
.footnote {
    @include container;
}
/*  */
/* Global */
/*  */
.left {
   @include span ( 50% no-gutters)
      }
.right {
   @include span ( 50% last no-gutters)
      }
/*  */
/* MAIN */
/*  */
.main {
   clear: both;
   margin-bottom: 6em;
}
/*  */
/* HEADER */
/*  */
.menu-inside {
        .menu-left {
            @include span(6 of 15);        
        }
        .logo {
            @include span(3 at 5 of 15);
            img {
            @include span(12 of 12);
            }
        }
        .menu-right {
            @include span(6 at 9 last of 15);
        }
        
    }
/*  */
/* Sidebar - Booking Page */
/*  */
.content-sidebar {
   @include span( 8 of 12 );
   .fields-wrapper {
      @include nested(8);
      .left {
         @include span ( 48% );
            }
      .right {
         @include span ( 50% last);
            }
      }
}
.sidebar {
    @include span( 4 last of 12 );
   padding: 0 10px;
}


/*  */
/* Frontpage */
/*  */

/* Info nad facility page nad frontpage */
.facilities,
.info-list-wrapper,
.facility-wrapper,
.info,
.facility
{
    @include container;
   .left {
   @include span ( 50% no-gutters);
      }
   .right {
   @include span ( 50% last no-gutters);
      }
}

.gallery {
    margin-bottom: 2em;
   .three {
       @include gallery(4 of 12);
    }
   .four {
       @include gallery(3 of 12);
   }
}
/* Galleries Pages  */
/*  */
.gallery-room {
   @include gallery(4 of 12);
}
/*  */
/* Reviews Page */
/*  */
.reviews-wrapper {
   @include container;
   .review {
      @include gallery(4 of 12);
      margin-bottom: 30px;
   }
   .reviews-inside {        
        padding-top: 7em;
        padding-bottom: 8em;
        
    }
}
/*  */
/* Booking Page + Map */
/*  */
.contact-booking {
  margin-bottom: 2em;
   
}
#map-canvas {
   height: 30em;
}
/*  */
/* Footer */
/*  */
.footnote {
   @include container;
   clear: both;
}
