@import "susy-config";
@import "bower_components/susy/sass/susy";

header,
.page,
footer,
.slider,
.footnote-wrapper {
    @include full;
}
/* Header */
.lang-switcher,
.menu-inside,
/* Frontpage */
.frontpage-gallery,
/* all pages */
.main,
.content, 
/* Custom pages */
.booking,
.reviews,
/* Footer */
.footer-inside,
.footnote {
    @include container;
}
.main {
   clear: both;
   margin-bottom: 6em;
}
.menu-inside {
        .menu-left {
            @include span(6 of 15);        
        }
        .logo {
            @include span(3 at 5 of 15);
            img {
            @include span(12 of 12);
            }
        }
        .menu-right {
            @include span(6 at 9 last of 15);
        }
        
    }

.sidebar {
    @include span(5 of 16 last);
}

/* Frontpage */
.info,
.facilities,
.info-list-wrapper,
.facility-wrapper,
.info,
.facility
{
    @include container;
    .left {
        @include span ( 6 of 12 no-gutters)
    }
    .right {
         @include span ( 6 last of 12 no-gutters)
    }
}

.reviews-wrapper {
   @include container;
   .review {
      @include gallery(4 of 12);
      margin-bottom: 30px;
   }
   .reviews-inside {        
        padding-top: 7em;
        padding-bottom: 8em;
        
    }
}
.frontpage-gallery {
    margin-bottom: 2em;
    .item {
    @include gallery(3 of 12);
    }
}
/* Booking Page */
.contact-booking,
#map-canvas {
  @include container;
}
#map-canvas {
   height: 30em;
}
/* Footer */
.footnote {
   @include container;
   clear: both;
}
