<div class="main">
        <div class="content">
           <!--  Page Title -->
         <h2 class="page-title">blog</h2>
        {% assign blogposts = site.posts | where:'lang', page.lang | sort: category %}
        {% for blogpost in blogposts  %}
           <a href="{{ blogpost.url | prepend: site.baseurl }}"><h1 class="entry-title">{{ blogpost.title }}   </h1> </a>
           <img src="{{ blogpost.image | prepend: '/assets/blog/'  | prepend: site.baseurl | prepend: site.url }} " alt=""> 
           <p> {{ blogpost.excerpt }} </p>
        {% endfor %}
    </div>
</div>