---
layout: default
---



<div class="main">
 <div class="main-wrapper">   
<h2 class="page-title">{{ page.title }}</h2>
    
   {% include reviews.html %}
    
    
     <div class="flexslider-rooms">
          <ul class="slides">
              {% for image in page.images %} 
            <li data-thumb="{{ image.image | prepend: '/assets/thumbnails/'  | prepend: site.baseurl }}" >
                <img src="{{ image.image | prepend: '/assets/wide/' | prepend: site.baseurl }}" alt="">
                
<!--                 <div class="slide-info">
                    <h2 class="slide-title">{{ image.title }}</h2>
                    <p>{{ image.subtitle }}</p>
                </div> -->
              </li>
              {% endfor %}
  	    	</ul>
      </div>


    <div class="content"> 
        
       {{ page.content }} 
        <div class="offers">
            <h3>{{ site.data.strings.strings.[page.lang].offers }}</h3>
            <ul>
                 {% for offer in site.data.offer.offer.[page.section] %}
                        <li class="offer">              
                            <h4>{{ offer.name.[page.lang] }}</h4>
                            <h2>{{ offer.price }}/night</h2>
                        </li>                                           
                    {% endfor %} 
                </ul>
            <p>{{ site.data.offer.offer.valid.[page.lang] }}</p>
        </div>
        
            <h3>{{ site.data.strings.strings.[page.lang].prices }}</h3>
           <div class="normal-prices">        
                    <ul>
                        
                        {% for i in (1..num) %}
                            {% capture season %}{% cycle 'low', 'medium', 'high' %}{% endcapture %}
                            <li class="price">              
                                <h3>{{ site.data.prices.seasons.[page.lang].[season].name }}</h3>
                                <h4>{{ site.data.prices.seasons.[page.lang].[season].date }}</h4>
                                <h2>{{ page.[season] }}/night</h2>
                            </li>                                           
                        {% endfor %} 
                       
                    </ul>
                    <p> {{ site.data.prices.seasons.[page.lang].valid }} </p>

            </div>
        </div>     
    </div>
    </div>