---
layout: default
---



<div class="main">
    <div class="content room-page">   
        
        <h2 class="page-title">{{ page.title }}</h2>
        
        <div class="flexslider-rooms">
              <ul class="slides">
                  {% for image in site.data.rooms.rooms.[page.section].images %} 
                <li data-thumb="{{ image.image | prepend: '/assets/rooms/thumbnails/'  | prepend: site.baseurl }}" >
                    <img src="{{ image.image | prepend: '/assets/rooms/wide/' | prepend: site.baseurl }}" alt="">
                  </li>
                  {% endfor %}
                </ul>
          </div>


        <div class="content">
           
         <div class="description">
         {{ page.content }} 
           </div> 
           
        {% include blocks/prices.html %}
         
        {% include blocks/offers.html %}                    
           
        {% include blocks/reviews-quote.html %}
           
        {% include blocks/season-dates.html %}
           
        {% include blocks/amenities.html %}  

      </div>

    </div>
</div>